.animate-text-gradient {
    background: linear-gradient(to right, #006161 40%, #00ffff 50%, #006161 60%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200% 200%;

    animation: animate-text-gradient 5s forwards infinite;
}

@keyframes animate-text-gradient {
    0% {
        background-position: 200% 200%;
        background-position: left center;
    }
    50% {
        background-position: 200% 200%;
        background-position: right center;
    }
    100% {
        background-position: 200% 200%;
        background-position: left center;
    }
}
