@import "tailwindcss";

.section {
    @apply flex w-screen snap-start flex-col;
}

.section-content {
    @apply w-screen gap-6 px-6 py-12;
}

.section-center {
    @apply flex h-full w-full items-center justify-center;
}

/* @deprecated */
.slide {
    @apply flex h-screen w-screen flex-1 snap-start flex-col items-center justify-center;
}

/* @deprecated */
.slide-inner {
    @apply flex h-screen w-screen flex-1 gap-6 px-6 py-12;
}

/* @deprecated */
.slide-inner-no-padding {
    @apply flex h-screen w-screen flex-1 gap-6;
}

/* @deprecated */
.slide-inner-col {
    @apply flex-col items-center justify-center;
}

/* @deprecated */
.slide-inner-col-center {
    @apply flex-col items-center justify-center;
}

/* @deprecated */
.slide-inner-split {
    @apply flex-row items-center lg:flex-col lg:justify-center;
}

/* @deprecated */
.slide-inner-split-short {
    @apply flex-col items-center justify-center;

    @media (height <= 500px) {
        @apply flex-row items-center justify-center;
    }
}

/* @deprecated */
.slide-header {
    /*@apply flex flex-col items-center gap-4 text-center font-bold text-3xl [&>p]:text-base [&>p]:text-zinc-500 [&>p]:font-normal [&>p]:text-base [&>p]:text-zinc-500 [&>p]:font-normal;*/
    @apply flex flex-col items-center gap-4 text-center text-3xl font-bold;
}

.techstack-margin-responsive-short {
    @apply mt-6;

    @media (height <= 500px) {
        @apply mt-0;
    }
}

.nav-h {
    @apply h-[75px] lg:h-[100px];
}

.nav-h-margin {
    @apply mt-[75px] lg:mt-[100px];
}

.nav-h-margin-negative {
    @apply mt-[-75px] lg:mt-[-100px];
}

.link-accent-primary {
    @apply text-blue-400 transition-colors duration-200 hover:text-blue-300;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
