@import "tailwindcss";

.slide {
    @apply flex flex-col items-center justify-center flex-1 w-screen h-screen snap-start;
}

.slide-inner {
    @apply flex flex-1 w-screen h-screen gap-6 px-6 py-12;
}

.slide-inner-no-padding {
    @apply flex flex-1 w-screen h-screen gap-6;
}

.slide-inner-col {
    @apply flex-col items-center justify-center;
}

.slide-inner-col-center {
    @apply flex-col justify-center lg:items-center;
}

.slide-inner-split {
    @apply flex-row items-center lg:flex-col lg:justify-center;
}

.slide-inner-split-short {
    @apply flex-col items-center justify-center;

    @media (height <= 500px) {
        @apply flex-row items-center justify-center;
    }
}

.slide-header {
    @apply flex flex-col items-center gap-4 text-center font-bold text-3xl [&>p]:text-base [&>p]:text-zinc-500 [&>p]:font-normal;
}

.techstack-margin-responsive-short {
    @apply mt-6;

    @media (height <= 500px) {
        @apply mt-0;
    }
}

.nav-h {
    @apply h-[72px];
}

.nav-h-margin {
    @apply mt-[72px];
}

.nav-h-margin-negative {
    @apply mt-[-72px];
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
