.fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.delayedPulse {
    animation: delayedPulse 5s ease-in-out infinite;
    opacity: 0.5;
    transform: scale(1.25);
}

@keyframes delayedPulse {
    0% {
        opacity: 0.5;
    }
    10% {
        transform: scale(1.25);
    }
    12.5% {
        transform: scale(1);
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.fadeSlideInUp {
    animation: fadeSlideInUp 1s ease-in-out forwards;
    opacity: 0;
    transform: translateY(25px);
}

@keyframes fadeSlideInUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.revealUp {
    animation: revealUp 1s ease-in-out forwards;
    opacity: 0;
    transform: translateY(100px);
}

@keyframes revealUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.revealDown {
    animation: revealDown 1s ease-in-out forwards;
    animation-delay: 200ms;
    opacity: 0;
    transform: translateY(-100px);
}

@keyframes revealDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* - - - - - - - - - - - - - - - - - - */
@property --btn-outline-gradient-deg {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}

.btn-animated-outline {
    position: relative;
}
.btn-animated-outline::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    border-radius: inherit;
    opacity: 0.35;

    border: 1px solid transparent;
    background: linear-gradient(var(--btn-outline-gradient-deg), white, transparent) border-box;
    mask:
        linear-gradient(black) border-box,
        linear-gradient(black) padding-box;
    mask-composite: subtract;

    animation: btn-outline-gradient-spin 5s linear infinite;
}

@keyframes btn-outline-gradient-spin {
    to {
        --btn-outline-gradient-deg: 360deg;
    }
}
